<h2>New place</h2>

<form action="/publish" method="POST" enctype ="multipart/form-data">
    <label>Name</label>
    <input type="text" name="name" value="<%= place.name %>">
    <label>Description</label>
    <input type="text" name="description" value="<%= place.description %>">

    <label>Release Date</label>
    <input type="date" name="publishDate" 
        value="<%= place.publishDate %>">
    
    <a href="/">Cancel</a>
    <button type="submit">Create</button>
</form>