<%# New item form partial view %>
<h2>New Whatever</h2>
<form action="/publish" method="POST" enctype="multipart/form-data">
  <label>Name</label>
  <input type="text" name="name" value="<%= product.name %>" />
  <label>Description</label>
  <input type="text" name="description" value="<%= product.description %>" />

  <label>Date</label>
  <input type="date" name="publishDate" value="<%= product.publishDate %>" />

  <a href="/">Cancel</a>
  <button type="submit">Create</button>
</form>
