<%# Single item partial view, i.e. item has been clicked in the list %>
<h2><%= product.name %></h2>
<p>
  <%= product.description %>
</p>
<p>
  <%= product.publishDate %>
</p>

<a href="/publish/<%=product.slug%>/edit">Edit</a>
